@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Films</title>
</head>
<body>
    <div>
        <h3>Поиск по жанру</h3>
        <div>
            @using (Ajax.BeginForm("GenreSearch", new AjaxOptions { UpdateTargetId = "results" }))
            {
                <input type="text" name="genre" />
                <input type="submit" value="Поиск" />
            }
            <div id="results"></div>
        </div>
        @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
        <h3>Список фильмов</h3>
        <button type="submit" onClick="location.href='/Home/AddFilm'">Добавить фильм</button>
        <table>
            <tr>
                <td><p></p></td>
                <td><p><b>Название</b></p></td>
                <td><p><b>Режисcер</b></p></td>
                <td><p><b>Жанр</b></p></td>
                <td><p><b>Год</b></p></td>
                <td><p><b>Рейтинг</b></p></td>
                <td><p><b>Описание</b></p></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Films)
            {
                <tr>
                    <td><p><img src=@b.Picture width="130" height="230" alt=""></p></td>
                    <td><p><b>@b.Name</b></p></td>
                    <td><p><b>@b.Producer</b></p></td>
                    <td><p><b>@b.Genre</b></p></td>
                    <td><p><b>@b.Year</b></p></td>
                    <td><p><b>@b.Rating</b></p></td>
                    <td width="900"><p>@b.Description</p></td>
                    <td><p><a href="/Home/Review/@b.Id">Обзоры</a></p></td>
                    <td><p><a href="/Home/DeleteFilm/@b.Id">Удалить</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>